target/
target-ide/
*.class
.settings
.project
.classpath
.checkstyle
.fbExcludeFilterFile
.tox
*.iml
.idea
.fbExcludeFilterFile
.vscode/
.factorypath
.apt_generated_tests/

# pre-commit / linting
.pre-commit-log*
node_modules/

# Python
__pycache__/
*.py[cod]
.tox/
*.egg-info/
