[access]
	inheritFrom = All-Projects
[project]
	description = Infrastrucure Utilities Project
[access "refs/*"]
	owner = group ldap/gerrit-infrautils-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	label-Verified = -1..+1 group ldap/ci-infrautils
[submit]
	action = fast forward only
	mergeContent = false
