[access]
	inheritFrom = All-Projects
[project]
	description = Infrastrucure Utilities Project
[access "refs/*"]
	owner = group ldap/odl-gerrit-infrautils-committers
	owner = group saml/odl-gerrit-infrautils-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
	mergeContent = false
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
